.wrapper {
  display: flex;
  position: relative;
  margin-left: 0.3rem;
  width: 60%;
}

.clear {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;
  top: 0;
  background-color: transparent;
  color: var(--white);
  outline: none;
  border: 0;
}

.input {
  flex: 1;
  display: flex;
  outline-style: none;
  outline-width: 0;
  padding-left: 0.5rem;
  border-width: 0;
  border-bottom-width: 0.1rem;
  font-size: 1.4em;
  border-color: transparent;
  background-color: rgb(46, 49, 53);
  border-bottom: 0.3rem solid transparent;
  color: var(--white);
}

input:focus {
  border-bottom: 0.3rem solid var(--active);
}

@media screen and (orientation: portrait) {
  .wrapper {
    width: 85%;
  }
}