.wrapper {
  background-color: var(--primary);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--white);
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
}
