.wrapper {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.itemWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 4rem;
}

.type {
  margin: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.loadMore {
  color: var(--white);
  display: block;
  margin: 2rem auto;
  width: 80%;
  background-color: var(--primary);
  outline: none;
  border: 0.1rem solid var(--white);
  border-radius: 0.4rem;
  margin-top: auto;
}

@media screen and (orientation: landscape) {
  .loadMore {
    width: 30%;
  }
  .type {
    text-align: left;
  }
}
